* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid blue; /* for debugging */
}

html, body {
    height: 100%;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%
}

.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid red;
}

.dashboard {
    border: 1px solid green;
}

.search {
    display: flex;
    margin-bottom: 2rem;
}

.sidebar__button:hover,
.sidebar__button:focus {
    margin: 0.5rem 0rem;
    text-align: left;
}

.folder {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0rem;
}

.folder__header {
    display: flex;
    justify-content: space-between;
}

.folder__project, .folder__project--pinned {
    margin: 0.25rem;
    margin-left: 1.5rem;
}

.folder__project--pinned {
    color: blue;
}

.settings__header {
    display: flex;
    justify-content: space-between;
}

.dashboard {
    flex: 1;
}